# See http://help.github.com/ignore-files/ for more about ignoring files.

# chache files
/.vs
/TP1/LinguagensWP.App/bin
/TP1/LinguagensWP.App/obj
/TP1/LinguagensWP.DataAcess/bin
/TP1/LinguagensWP.DataAcess/obj
/TP1/LinguagensWP.Models/bin
/TP1/LinguagensWP.Models/obj
